TEST=true
CONTAINER_NAME=test
DOCKER_FILE=dockerfiles/sys.Dockerfile.dummy
COMMAND=tail -f /dev/null
DOCKER_IMAGE=debian:latest
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./volume
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
